# Binaries for programs and plugins
*.attr
*.dll
*.dylib
*.exe
*.exe~
*.log
*.old
*.out
*.so
*.swp
*.test
.envrc
.gotools
.vagrant/
/pkg
Thumbs.db
bin/
changelog.tmp
exit-code

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
# vendor/

# MacOS
.DS_Store
.AppleDouble
.LSOverride
.fseventsd